body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.header {
  padding: 0 73px;
}

.main-nav {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}

.main-header-logo {
  order: 1;
  align-self: flex-start;
  width: 138px;
  height: 71px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  width: 460px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.site-nav-right {
  order:2;
}

.site-nav-left li:last-child {
  margin-right: 130px;
}

.site-nav-right li:first-child {
  margin-left: 130px;
}

.site-nav a {
  display: block;
  font-weight: 700;

  color: #000000;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #81B3D2;
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav-current a {
  color: #766357;
}

.intro {
  position: relative;

  min-height: 510px;
  margin-bottom: 60px;

  background-image: 
    url("../img/welcome-intro.png"),
    url("../img/jpg/background-intro.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, top;
}

.intro::after {
  content: "";
  position: absolute;
  bottom: -2px;

  width: 1200px;
  height: 59px;

  background-image: url("../img/intro-polygon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-title {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 35px;

  font-size: 21px;
  text-align: center;
  color: #000000;
}

.page-description {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.features {
  margin-bottom: 50px;
}

.feature-row {
  display: flex;
  min-height: 256px;
}

.feature-item {
  width: 400px;
  padding: 46px 49px 50px;
  box-sizing: border-box;

  line-height: 21px;
  text-align: center;
  background-color: #eeeeee;
}

.feature-item h2 {
  margin: 0 auto;
  margin-bottom: 25px;

  font-size: 21px;
  color: #000000;
}

.feature-number {
  margin: 0 auto;
  margin-bottom: 25px;
}

.feature-description {
  margin: 0;
}

.feature-img {
  line-height: 0;
}

.feature-item-full {
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item-full h2 {
  color: #ffffff;
}

.features-list {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
}

.feature-list-item {
  padding: 159px 55px 83px;
  background-color: #ffffff;
}

.feature-list-item h2 {
  position: relative;
}

.feature-list-item-house h2::after {
  content: "";

  position: absolute;
  top: -100px;
  right: 107px;

  width: 75px;
  height: 72px;

  background-image: url("../img/svg/features/housing-feature.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-list-item-food h2::after {
  content: "";

  position: absolute;
  top: -100px;
  right: 107px;

  width: 75px;
  height: 70px;

  background-image: url("../img/svg/features/food-feature.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-list-item-souvenirs h2::after {
  content: "";

  position: absolute;
  top: -100px;
  right: 107px;

  width: 64px;
  height: 77px;

  background-image: url("../img/svg/features/souvenirs-feature.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-hotel {
  position: relative;
  text-align: center;
}

.search-hotel h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-hotel > p {
  width: 430px;
  margin: 0 auto;
  margin-bottom: 50px;

  line-height: 24px;
}

.button-search {
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 30px 139px;

  font-size: 21px;
  font-weight: 700;

  background-color:#766357;
  box-sizing: border-box;
}

.button-search:hover,
.button-search:focus {
  background-color: #604E43;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503E33;
}

.map {
  position: relative;

  height: 593px;

  background-image: url("../img/jpg/map.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-hotel-modal {
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-item-label,
.search-item-input,
.search-item-input::placeholder {
  font-weight: 700;
  color: #000000;
}

.search-item-input {
  background-color: #f2f2f2;
  border: none;
}

.search-item-input:hover {
  background-color: #EBEBEB;
}

.search-item-input:focus {
  background-color: transparent;
  border: 2px solid #E5E5E5;
}

.button-search-hotel {
  font-weight: 700;

  background-color: #81B3D2;
}

.button-search-hotel:hover,
.button-search-hotel:focus {
  background-color: #669EC0;
}

.button-search-hotel:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #5496BD;
}

.filters {
  margin-bottom: 25px;

  background-image: url("../img/jpg/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter {
  display: flex;
}

.filter-form-group {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

  color: #ffffff;
}

.filter ul {
  list-style: none;
}

.filter-option label,
.range-data label,
.range-data input,
.range-data input::placeholder {
  line-height: 21px;
  font-weight: 400;

  color: #ffffff;
}

.range-data input {
  background-color: transparent;
}

.filter-button {
  line-height: 21px;
  font-weight: 400;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover {
  color: #000000;

  background-color: #ffffff;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sorting-column {
  display: flex;
}

.found {
  margin-right: 50px;

  font-size: 21px;
  font-weight: 700;
}
.sorting-type {
  margin-right: 40px;
}

.sorting-list {
  padding: 0;
  margin: 0;
  margin-right: 505px;

  list-style: none;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

.sorting-link:hover,
.sorting-link:focus {
  color: #81B3D2;
}

.sorting-link:active {
  color: #000000;
  text-decoration: none;
}

.sorting-link-active,
.sorting-link-active:active {
  color: #81B3D2;
  text-decoration: none;
}

.sorting-up,
.sorting-down {
  color: #cacaca;
}

.sorting-up:hover,
.sorting-up:focus,
.sorting-down:hover,
.sorting-down:focus {
  color: #000000;
}

.sorting-up:active,
.sorting-down:active {
  color: #81B3D2;
}

.search-results {
  width: 100%;

  border-collapse: collapse;
}

.search-results tr {
  border-top: 1px solid #E5E5E5;
}

.search-results tr:last-child {
  border-bottom: 1px solid #E5E5E5;
}

.search-result-hotel-name a {
  font-size: 21px;
  font-weight: 700;

  color: #000000;
}

.search-result-hotel-name a:hover,
.search-result-hotel-name a:focus {
  color: #81B3D2;
}

.search-result-hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-result-hotel,
.hotel-price {
  line-height: 21px;
  font-weight: 400;
}

.button-more,
.button-booking {
  line-height: 21px;
  font-weight: 700;
}

.button-more {
  background-color: #81B3D2;
}

.button-more:hover,
.button-more:focus {
  background-color: #669EC0;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496BD;
}

.button-booking {
  background-color: #766357;
}

.button-booking:hover,
.button-booking:focus {
  background-color: #604E43;
}

.button-booking:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503E33;
}

.hotel-stars {
  color: #81B3D2;
}

.hotel-stars + p {
  line-height: 21px;
  font-weight: 400;

  color: #666666;

  background-color: #F2F2F2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 101px 35px 133px;;

  background-color: rgba(255, 255, 255, 0.9);
}

.tag {
  margin: 0;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  color: #000000;

  background-color: #81B3D2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669EC0;
}

.social-button:active {
  background-color: #5496BD;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 197px;
  margin: 0;
}

.footer-copyright span {
  font-weight: 400;
  color: #000000;
}

.html-academy-link:hover path,
.html-academy-link:focus path {
  fill: #81B3D2;
}

.html-academy-link:active path {
  fill: #BDBBBC;
}